:root {
    --headerFont: 'Cinzel', serif;
    --bodyFont: 'Lexend Peta', sans-serif;
}

body {
    background-image: url("../hogsmeade.jpeg");
    background-position: center;
    background-size: cover;
    aspect-ratio: 2/1;
}

h1 {
    font-family: var(--headerFont);
    font-weight: bold;
}
h3 {
    font-family: var(--bodyFont);
    font-weight: bold;
}
p {
    font-family: var(--bodyFont);
    font-weight: lighter;
}
#roast-selection, #roast-selection2 {
    width: 100%;
    display: block;
}

#submitBottomSearch, #submitTopSearch {
    color: #fff;
    text-align: center;
    border-color: mediumorchid;
    background-color: mediumorchid;
    margin: 15px 0px;
    border-radius: 5px;
}

.card {
    max-width: 50rem;
}
