table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
id {
    display: none;
}
.topRow {
    flex-direction: column;

}
.bottomRow {
    flex-direction: column;
    align-self: end;
}